<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>아워트립</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicons/favicon.ico">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!--네이버 스마트 에디터-->
    <script type="text/javascript" src="<c:url value='/libs/smarteditor/js/service/HuskyEZCreator.js'/>" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <!--네이버 스마트 에디터-->

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet"/>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
         data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img class="d-inline-block"
                                                                     src="/img/gallery/logo.png" width="50"
                                                                     alt="logo"/><span
                class="fw-bold text-primary ms-2">아워트립</span></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page"
                                                 href="/#destinations"><span
                            class="nav-link-icon text-800 me-1 fas fa-map-marker-alt"></span><span
                            class="nav-link-text">  </span></a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="/#flights"> <span
                            class="nav-link-icon text-800 me-1 fas fa-plane"></span><span
                            class="nav-link-text">뉴스</span></a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="/#hotels"> <span
                            class="nav-link-icon text-800 me-1 fas fa-hotel"></span><span
                            class="nav-link-text">숙소 정보?</span></a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="/#activities"><span
                            class="nav-link-icon text-800 me-1 fas fa-bolt"></span><span
                            class="nav-link-text">여행지 정보</span></a></li>
                    <li class="nav-item px-2"><a class="nav-link" href="/#reviews"><span
                            class="nav-link-icon text-800 me-1 fas fa-bolt"></span><span
                            class="nav-link-text">리 뷰</span></a></li>
                </ul>
                <form>
                    <button class="btn text-800 order-1 order-lg-0 me-2" type="button">아워트립은?</button>
                    <button class="btn btn-voyage-outline order-0" type="submit" ><span class="text-primary"><a href="/login">로그인</a></span>
                    </button>
                </form>
            </div>
        </div>
    </nav>

</head>


<body>