{{>layout/header}}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="bg-secondary-gradient h-100 d-flex align-items-center">
        <div class="text-light p-4 p-sm-6 p-lg-0 px-xxl-6">
            <p class="fs-1 px-4 mb-6">아워트립에 자신만 알고 있는 좋은 여행지 또는 꿀팁을 사람들에게 공유해보세요.</p>
        </div>
    </div>
</header>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
        <br>
        <div class="container">
            <div class="row">
                <!--게시글 영역-->
                <div class="pt-5 ps-sm-7">
                    {{#post}}
                    <h4 class="mb-2 text-1000">{{{title}}}</h4>
                    <h2 class="mb-3 text-primary fs-3 fs-md-6">{{{city}}} {{{district}}}</h2>
                    <p class="fw-normal mb-0">{{{content}}}</p>
                        {{/post}}
                </div>
            </div>
        </div>

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
<br><br><br><br><br>
{{>layout/footer}}