{{>layout/header}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

    <section class="mt-7 py-0">
        <!--/.bg-holder-->

        <br>
        <div class="container">
            <!--글쓰기 버튼 영역-->
            <a class="btn btn-voyage-outline order-0" href="/tripInfoBoard/tripInfoWrite" role="button"><span class="text-primary">글쓰기</span></a>
            <div class="row">
                <!--목록 출력 영역-->
                <table class="table table-hover" border="1">
                    <thead>
                    <tr>
                        <th colspan="1">게시글 번호</th>
                        <th colspan="5">제목</th>
                        <th colspan="1">작성자</th>
                        <th colspan="1">최종 수정일</th>
                        <th colspan="1">좋아요</th>
                        <th colspan="1">조회수</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </section>



</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

{{>layout/footer}}