{{>layout/header}}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

    <section class="mt-7 py-0">
        <!--/.bg-holder-->

        <br>
        <div class="container">
            <div class="row">
                <!--목록 출력 영역-->
                <table class="table table-hover" width="100%" border="1">
                    <thead>
                    <tr>
                        <th style="text-align:center" width="10%">게시글 번호</th>
                        <th style="text-align:center" width="40%">제목</th>
                        <th style="text-align:center" width="10%">내용</th>
                        <th style="text-align:center" width="10%">주소</th>
                        <th style="text-align:center" width="10%">날짜</th>
                        <th style="text-align:center" width="10%">좋아요</th>
                        <th style="text-align:center" width="10%">조회수</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#post}}
                    <tr>
                        <td>{{_id}}</td>
                        <td><a href="/">{{title}}</a></td> <!--상세 페이지 작성되면 해당 페이지로 넘길 예정-->
                        <td>{{content}}</td>
                        <td>{{city}} {{district}}</td>
                        <td>{{tripInfoBoardModifiedTime}}</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    {{/post}}
                    </tbody>
                </table>
            </div>
            <br>
            <!--글쓰기 버튼 영역-->
            <a class="btn btn-voyage-outline order-0" href="/tripInfoBoard/tripInfoWrite" role="button"><span class="text-primary">글쓰기</span></a>
        </div>
    </section>



</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
{{>layout/footer}}